*.o
robot
robot.ARM
build/
armbuild/

# Text editor Temp Files
*~
.#*
*#

#ignore sh files which I use to upload things to the server more easily
*.sh

#GGtags files for navigating in Emacs
GTAGS
GSYMS
GRTAGS
GPATH
